# chezmoi configuration
[data]
    name = "{{ promptString "Full name" "Daiki Usami" }}"
    email = "{{ promptString "Email address" "d_usami@no9.co.jp" }}"

[git]
    autoCommit = false
    autoPush = false