name: Lint

on:
  push:
    branches: [master]
  pull_request:

jobs:
  nix-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main

      - name: Check Nix flake
        run: nix flake check .config/home-manager --no-build

      - name: Format check
        run: |
          cd .config/home-manager
          nix run nixpkgs#nixfmt -- --check *.nix **/*.nix || {
            echo "Run 'nixfmt' to fix formatting"
            exit 1
          }
