name: Build
on:
  push:
    branches: [master]
    paths:
      - '**.nix'
      - 'flake.lock'
      - '.github/workflows/test.yml'
  pull_request:
    paths:
      - '**.nix'
      - 'flake.lock'
      - '.github/workflows/test.yml'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build-linux:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v14
      - name: Build Home Manager configuration
        run: USER=ci nix build --impure .#homeConfigurations.linux.activationPackage
      - name: Show result
        run: ls -la result/
  build-macos:
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v14
      - name: Build nix-darwin configuration
        run: USER=ci nix build --impure .#darwinConfigurations.mac.system
      - name: Show result
        run: ls -la result/
